<div class="p-card flex items-center p-3 gap-3 w-full">
    <!-- Thumbnail/Icon -->
    <p-skeleton width="4rem" height="4rem" borderRadius="var(--radius)"></p-skeleton>
    
    <!-- Order Details -->
    <div class="flex flex-col gap-2 flex-1">
        <p-skeleton width="60%" height="1.125rem"></p-skeleton>
        <p-skeleton width="30%" height="0.875rem"></p-skeleton>
    </div>
    
    <!-- Price / Quantity -->
    <div class="flex flex-col items-end gap-2">
        <p-skeleton width="3.5rem" height="1.125rem"></p-skeleton>
        <p-skeleton width="2rem" height="0.875rem"></p-skeleton>
    </div>
</div>
