<div class="w-full flex flex-col bg-surface/50 rounded-lg border border-border-dark h-full shrink-0 max-h-full">
  <!-- Column Header -->
  <div class="px-4 py-3 border-b border-border-dark flex items-center justify-between bg-surface rounded-t-lg">
    <p-skeleton width="30%" height="1.5rem" styleClass="bg-surface-hover"></p-skeleton>
    <p-skeleton width="15%" height="1.25rem" styleClass="bg-surface-hover rounded-full"></p-skeleton>
  </div>
  
  <!-- Column Body -->
  <div class="p-3 flex-1 space-y-3">
    <p-skeleton width="100%" height="130px" styleClass="bg-surface-hover rounded-md opacity-70"></p-skeleton>
    <p-skeleton width="100%" height="130px" styleClass="bg-surface-hover rounded-md opacity-70"></p-skeleton>
    <p-skeleton width="100%" height="130px" styleClass="bg-surface-hover rounded-md opacity-70"></p-skeleton>
  </div>
</div>
